@import "node_modules/bootstrap/scss/bootstrap";

@import "partial/_formules";
@import "partial/_header";
@import "partial/_sections";
@import "partial/_titles";
@import "partial/_cards";
@import "partial/_buttons";
@import "partial/_footer";

html, body {
  font-size: $size_10;
  width: 100%;
  height: 100%;
  background: rgb(124, 119, 119);
}

main {
  min-height: 850px; 
}

.wrapper {
  margin-top: 30px;
}


/*RESPONSIVE*/

@media screen and (min-width: 576px) and (max-width: 1023px) { /* for tablette & landscape */ 
  
  html, body {
    font-size: $size_13;
  }
}

@media screen and (min-width: 1024px) { /* for desktops */ 
  
  html, body {
    font-size: $size_13;
    
  }
}