@import "../node_modules/bootstrap/scss/bootstrap";
@import "partial/_Set";
@import "partial/_Nav";
@import "partial/_Main";
@import "partial/_Titles";
@import "partial/_Buttons";
@import "partial/_Footer";

/*Settings Mobile First*/

html, body {
  font-size: $size_10;
  width: 100%;
  background: rgb(124, 119, 119);
}

main {
  min-height: 850px; 
}

.wrapper {
  margin-top: 30px;
}

/*RESPONSIVE*/

 /* For Tablettes & Landscapes */ 

 @media screen and (min-width: 576px) and (max-width: 1023px) {
  html, body {
    font-size: $size_13;
  }  
}

/* For Desktops */ 

@media screen and (min-width: 1024px){ 
  html {
    background: rgb(0,0,0);
  }

  body {
    max-width: 2000px;
    @include mp-auto
  }

  /*Settings CSS Grid */

  .content {
    display: grid; 
    grid-template-columns: 250px 1fr;
    grid-template-rows: 15vw 1fr 150px;
    grid-template-areas: "head head"
                         "menu main"
                         "foot foot";
  }

  .content header {
    grid-area: head;
  }

  .content .menu_nav {
    grid-area: menu;
  }

  .content main {
    grid-area: main;
  }

  .content footer {
    grid-area: foot; 
  }
}

/*For Desktops XL*/

@media screen and (min-width: 2000px) { 
  .content {
    grid-template-columns: 350px 1fr;
    grid-template-rows: 300px 1fr 150px;
  }
}


