/*GENERAL*/

html {
  font-size: 11px;
}

html, body {
  height: 100%;
}

h1 {
  background: rgb(209, 204, 204);
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px; 
}

.card {
  .card-header {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
  }

  h5 {
    text-align: center;
    font-weight: bold;
  }

  .card-footer {
    text-align: center;
  }
}

/* Navbar*/

#logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar_content {

  a:active {
    color: red;
    background: rgb(235, 230, 188);
  }

  li {
    font-family: 'Gloria Hallelujah', cursive;
  }
}

#btn_navbar > .navbar-toggler {
  color: red;
  border-color: yellow;
  border-radius: 10px;
}

.nav-item {
  box-shadow: -0.2em 0 .5em rgb(166, 167, 120);
  margin-top: 0.2em;
}

/* Footer */

footer {
  font-weight: 600;
}

#copyright {
  font-size: 8px;
  font-style: oblique;
}

/*Home*/

section {
  margin-top: 5px;
  border: 2px solid rgb(92, 90, 90);
  border-radius: 10px;
  background: rgba(255, 251, 0, 0.267);
  padding: 5px;
}

.accueil > .wrapper > article > .row > .col >  {
  
  section 
  {  
    .card {
      border-radius: 10px;
      }
    
      .card-header {
        background: rgb(224, 224, 204);
        border-radius: 10px 10px 0 0 ;
      }
    
      .card-title {
        background: rgb(238, 236, 236);
        box-shadow: -0em 0 .8em rgb(134, 89, 6);    
      }

  }

  .new_year > .card > .card-body > p {
    font-family: 'Gloria Hallelujah';
    font-size: 12px;
  }

  .event_article > div .card-header {
    color: rgb(252, 135, 2);
    font-size: 18px;
  }
  
  .general_information > .card > .card-body > p > .adhésion {
    text-decoration: underline;
    font-size: 12px;
  }
  
}

/*event*/

.event_description > .card > .card-body {
  font-size: 9px;

  .btn {
    font-size: 9px;
    width: 100px;
    font-weight: 700;
  }
}

.event {
  form > div > label {
    font-weight: bold;
    font-size: 9px;
  }

  .form-check {
    font-size: 9px;
  }

  ::placeholder {
    font-size: 8px;
  }
}

.event_description > .modal  {

  .modal-dialog {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  h5 {
    font-weight: bold;
    text-align: center;
  }

  .modal-footer > .btn {
    font-size: 9px;
  }
}


/*table of officials participants*/

.participation {
  
  h5 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}

#table_participation {
  font-size: 9px;
  text-align: center;
  
  
  thead > tr > th {
    padding: 3px;
    text-decoration: underline;
  }

  tbody > tr > th, td {
    padding: 2px;
  }
  
  td > .btn {
    font-size: 9px;
  }
}

/*progress bar*/

.progress_bar {
  padding: 10px;
  background: rgb(207, 238, 207);
  
  h5 {
    font-weight: bold;
    text-align: center;
  }

  .progress {
    margin-bottom: 10px;
  }
}

/*le club*/

.statuts_club > .card ul > li {
  background: lightgray;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 0px;
 
  h5 {
    font-size: 1.2em;
    color: rgb(0, 183, 255);
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
  }

  p {
    font-size: 13px;
    padding-left: 5px;
  }
}

/* photos */ 

.pictures {
  
  section {
    background: none;
    border: none;
  }
  
  p {
    font-size: 30px;
    border: 2px solid black;
    background: lightgray;
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

/* Archives*/

.archives > .wrapper > article .card ul {
    padding-left: 10px;   
}


/*contact*/

#home {
  font-size: 20px;
}

.needs-validation {
  background: rgba(202, 174, 174, 0.747);
  text-align: center;
  width: 300px;
  height: 470px;
  margin: auto;
  border: 2px solid black;
  border-style: dotted;
}

.contact_page {
  .btn {
    margin-top: 10px;
  }

  label {
    font-weight: 700;
    font-style: oblique;
    padding-top: 3px;
  }
}

#condition_accept {
  font-size: 9px;
  padding-left: 5px;
}


