@charset "UTF-8";
html {
  width: 100%;
  font-size: 11px;
}

h1 {
  background: #d1cccc;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Navbar*/
#logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#navbar_content {
  padding: 10px;
}
#navbar_content a:active {
  color: red;
  background: #ebe6bc;
}
#navbar_content li {
  font-family: "Gloria Hallelujah", cursive;
}

#btn_navbar > .navbar-toggler {
  color: red;
  border-color: yellow;
  border-radius: 10px;
}

.nav-item {
  box-shadow: -0.2em 0 0.5em #a6a778;
  margin-top: 0.2em;
}

#Nav > .container > .row {
  margin: auto;
}

/* Footer */
.footer {
  font-size: 8px;
  background: black;
  color: white;
  font-weight: 600;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

#copyright {
  font-size: 6px;
  font-style: oblique;
}

/*Home*/
h1 {
  font-family: "Gloria Hallelujah", cursive;
}

section > .accueil > article {
  border: 2px solid #5c5a5a;
  border-radius: 10px;
  padding: 2px;
}
section > .accueil > article div .card {
  border-radius: 0 0 10px 10px;
}
section > .accueil > article .card-title {
  font-weight: bold;
  background: #eeecec;
  box-shadow: 0em 0 0.8em #828606;
}

.card > .card-header {
  background: #e0e0cc;
  font-weight: bold;
  font-size: 13px;
}

.new_year > div .card-body > p {
  font-family: "Gloria Hallelujah";
  font-size: 12px;
}

.article_event > div .card-header {
  color: #fc8702;
  font-weight: bold;
  font-size: 18px;
}

.general_information > div .adhésion {
  text-decoration: underline;
}

/*event*/
section > .event > .description > div > div > .card > .card-body {
  font-size: 9px;
}
section > .event > .description > div > div > .card > .card-body .btn {
  font-size: 9px;
  width: 100px;
  font-weight: 700;
}

.modal-body form > div > label {
  font-weight: bold;
  font-size: 9px;
}
.modal-body .form-check {
  font-size: 9px;
}

::placeholder {
  font-size: 8px;
}

.modal-footer > .btn {
  font-size: 9px;
}

.modal > .modal-dialog {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.modal > .modal-dialog h5 {
  font-weight: bold;
  text-align: center;
}

/*table of officials participants*/
.participation {
  border: 1px solid black;
  margin: 5px;
  padding: 0px;
}
.participation h5 {
  font-size: 16px;
  font-weight: bold;
}

#table_participation {
  font-size: 9px;
  margin-bottom: 0.2em;
  text-align: center;
}
#table_participation thead > tr > th {
  padding: 5px;
  text-decoration: underline;
}
#table_participation tbody > tr > th, #table_participation td {
  padding: 5px;
  vertical-align: middle;
}
#table_participation td > .btn {
  font-size: 8px;
}

/*progress bar*/
.progress_bar {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  background: lightgreen;
  border: 1px solid #b4abab;
  font-weight: bold;
}
.progress_bar h5 {
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}
.progress_bar .progress {
  margin-bottom: 5px;
  text-align: center;
}

/*le club*/
section > .club > article > div .card-body {
  text-align: justify;
}

.statuts_club > div .card > .card-header {
  font-size: 1.5em;
}

.statuts_club > .row > .col > .card ul > li {
  background: lightgray;
  border: 1px solid black;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 5px;
}
.statuts_club > .row > .col > .card ul > li h5 {
  font-size: 1.2em;
  color: #00b7ff;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  text-align: center;
}
.statuts_club > .row > .col > .card ul > li p {
  font-size: 13px;
  padding-left: 5px;
}

/* photos */
section > .photos > p {
  font-size: 30px;
  border: 2px solid black;
  background: lightgray;
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Archives*/
/*2011-2015*/
.archives_2011-2015 > article > div .card-body > ul {
  padding-left: 10px;
}

/*contact*/
#home {
  font-size: 20px;
}

.needs-validation {
  background: rgba(202, 174, 174, 0.747);
  text-align: center;
  width: 300px;
  height: 460px;
  margin: auto;
  border: 2px solid black;
  border-style: dotted;
}

.contact_page .btn {
  margin-top: 10px;
}
.contact_page label {
  font-weight: 700;
  font-style: oblique;
  padding-top: 3px;
}

#condition_accept {
  font-size: 9px;
  padding-left: 5px;
}

/*# sourceMappingURL=style.css.map */
