@use "mediaQueries.scss";

$red: #ff0000 ;
$lgray: #d3d3d3a8;
$gray: #5c5a5a;
$white: #ffffff;
$yellow: #ffff00;
$orange: #fc8702;

$yellow_lighten: lighten(#fff000, 45%);
$yellow_darker: darken(#fff000, 0.5%);
$yellow_semi_transparent: fade-out(#fff000, 0.6);

$border_black: 1px solid #000;
$border_10: 10px;

$mp_auto: auto;
$m-size: 10px;

$font_bold: bold;
$txt-center: center;
%text_bold_center {
  text-align: center;
  font-weight: bold;
}

/*GENERAL*/

html {
  font-size: $m-size; /* 10 Pixels */
}

html, body {
  height: 100%;
}

h1 {
  background: rgb(209, 204, 204);
  font-family: 'Gloria Hallelujah', cursive;
  text-align: $txt-center;
  padding-top: $m-size /2;  
  padding-bottom: $m-size /2; 
}

h5 {
  @extend %text_bold_center;
}

section {
  margin-top: $m-size /2;
  border: $m-size /5 solid #5c5a5a;
  border-radius: $border_10;
  background: $yellow_semi_transparent;
  padding: $m-size /5;
}

.card {
  .card-header {
    @extend %text_bold_center;
    font-size: $m-size +3 ;
  }

  .card-footer {
    text-align: $txt-center;
  }
}

#scroll_to_top {
  position:fixed ;
  bottom: $m-size *5;
  right: $m-size /2;
}


/* Navbar*/

#logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar_content {

  a:hover {
    color: $white;
    background: $lgray;
  }

  li {
    font-family: 'Gloria Hallelujah', cursive;
  }
}

#btn_navbar > .navbar-toggler {
  color: $red ;
  border-color: $yellow;
  border-radius: $border_10 ;
}

.nav-item {
  box-shadow: -0.2em 0 .5em $yellow_darker;
  margin-top: 0.2em;
}

/* Footer */

footer {
  font-weight: $font_bold;
}

#copyright {
  font-size: $m-size - 1;
  font-style: oblique;
}

/*Home*/



.accueil > .wrapper > article > .row > .col >  {
  
  .new_year > .card > .card-body > p {
    font-family: 'Gloria Hallelujah';
    font-size: $m-size +2;
  }

  .event_article .card-header {
    color: $orange;
    font-size: $m-size *2;
  }
  
  .general_information .adhésion {
    text-decoration: underline;
    font-size: $m-size +2;
  }
  
}

.accueil section 
{  
  .card {
    border-radius: $border_10;
    }
  
    .card-header {
      background: rgb(224, 224, 204);
      border-radius: 10px 10px 0 0 ;
    }
  
    .card-title {
      background: $lgray;
      box-shadow: -0em 0 .8em $orange;    
    }

}

/*event*/

.event_description > .card > .card-body {
  font-size: $m-size - 1;

  .btn {
    font-size: $m-size - 1;
    width: 100px;
    font-weight: 700;
  }
}

.event {
  form > div > label {
    font-weight: $font_bold;
    font-size: $m-size - 1;
  }

  .form-check {
    font-size: $m-size - 1;
  }

  ::placeholder {
    font-size: $m-size - 2;
  }
}

.event_description > .modal  {

  .modal-dialog {
    width: 80%;
    margin-left: $mp_auto;
    margin-right: $mp_auto;
  }
  
  .modal-footer > .btn {
    font-size: $m-size - 1;
  }
}


/*table of officials participants*/

.participation {
  background: none;
  
}

#table_participation {
  font-size: $m-size - 1;
  text-align: $txt-center;
  
  thead > tr > th {
    padding: 3px;
    text-decoration: underline;    
  }

  tbody > tr > th, td {
    padding: 2px;
    vertical-align: middle;
  }

  td > .btn {
    font-size: $m-size - 1;
  }
}

/*progress bar*/

.progress_bar {
  padding: $m-size;
  background: rgb(207, 238, 207);
  
  .progress {
    margin-bottom: $m-size;
  }
}

/*le club*/

.statuts_club > .card ul > li {
  background: $lgray;
  border: $border_black ;
  margin-bottom: $m-size /2;
  padding: 0;
  
  h5 {
    font-size: $m-size +4;
    color: rgb(0, 183, 255);
    font-style: oblique;
    text-decoration: underline;
  }

  p {
    font-size: $m-size +3;
    padding-left: $m-size /2;
  }
}

/* photos */ 

.pictures {
  
  section {
    background: none;
    border: none;
  }
  
  p {
    font-size: $m-size *3;
    border: $border_black ;
    background: $lgray;
    margin-top: 150px;

  }
}

/* Archives*/

.archives > .wrapper > article .card ul {
    padding-left: $m-size;   
}


/*contact*/

#home {
  font-size: $m-size *2;
}

.needs-validation {
  background: $yellow_lighten;
  text-align: $txt-center;
  width: 300px;
  height: 470px;
  margin: $mp_auto;
  border: $m-size /5 solid black;
  border-style: dotted;
}

.contact_page {
  .btn {
    margin-top: $m-size;
  }

  label {
    font-weight: $font_bold;
    font-style: oblique;
    padding-top: $m-size /2 ;
  }
}

#condition_accept {
  font-size: $m-size -1;
  padding-left: $m-size /2;
}


