@import "Formules.scss";


/*Event*/

.event_description {

 .card .btn {
    font-size: $size_10 ;
    font-weight: 700;
    @include size(100px,40px);
  }

  .modal .btn {
    font-size: $size_10;
  }
}

#table_participation {

  .btn a {
    font-size: $size_10;
    text-decoration: none;    
  }
}

/*Contact page*/

.contact_page .btn  {
  margin-top: 11px;
}

/*-------------*/

#scroll_to_top {
  position:fixed;
  background: rgb(255, 251, 0);
  right: 1vw;
  bottom: 200px;
 
  svg {
    @include size (25px, 25px);
  }
}


@media screen and (min-width: 576px) and (max-width: 1023px) {
  
  #scroll_to_top {
    bottom: 100px;
    svg {
     @include size(30px,30px);
    }
  }
/*Event*/

.event_description {

  .card .btn {
     font-size: $size_15;
     @include size(200px,60px);
   }
 
   .modal .btn {
     font-size: $size_15;
   }
 }

  /*table of officials participants*/
  #table_participation {
    .btn a {
      font-size: $size_15;
      text-decoration: none;    
    }
  }
}

@media screen and (min-width: 1024px){ /* for desktops */ 

  #scroll_to_top {
    background: rgb(255, 251, 0);
    
    svg {
      @include size(45px,45px);
    }
  }
  
  /*EVENT*/
  .event_description {
    .card .btn {
      font-size: $size_20;
      @include margin(10px,0,0,0);
      @include size(200px,80px);
    }
   
    .modal .btn {
      font-size: $size_20;
    }
  }

  #table_participation {
    .btn a {
      font-size: $size_15;
    }
  }
   
 /*Contact page*/

  .contact_page .btn  {
    font-size: $size_15;
    margin-top: 5px;
    @include size(200px,50px);
    
  } 
}


/*FINI*/ 