@import "formules.scss";

.footer {

  font-weight: bold; 
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;  

}

#copyright {
  font-size: $size_10 - 2;
  font-style: oblique;
}


@media screen and (min-width: 576px) and (max-width: 1023px) { /*for tablette & landscape */
 
  footer {
    font-size: $size_13 + 2;   
  }

  #copyright {
  font-size: $size_13 - 2;
  font-style: oblique;
}
 

}