@import "Formules.scss";

.footer {
  width: 100%;  
  font-weight: bold; 
  @include px-10;  
}

#copyright {
  font-size: $size_10 - 2;
  font-style: oblique;
}

@media screen and (min-width: 576px)  { /* Résolution Min. tablette */ 
  
  footer {
    font-size: $size_15;   
  }

  #copyright {
    font-size: $size_13 - 2;
    font-style: oblique;
  }
}



/* FOOTER OKAY*/