@import "formules.scss";

#logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar_content li {
  width: 70%;
  margin: $mp_auto;
  font-family: 'Gloria Hallelujah', cursive;
  box-shadow: 0.3em 0 .6em darken($yellow, 0.5%);
}

#dropdown_archives > li {
  box-shadow: none;
}

#button {
  color: $red;
  border-color: $yellow;
  border-radius: $size_10 ;
}

/* NAVBAR CONTACT PAGE */
#home {
  font-size: 22px;
  text-decoration: none;
}


/*RESPONSIVE*/
@media screen and (max-width: 575px) { 
  .second_banniere {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .first_banniere, .wrapper > .menu_nav,
  #logo, .bi-house-door, .bi-calendar3-event, .bi-bicycle, .bi-images, .bi-archive {
    display: none;
  }

}

@media screen and (min-width: 576px) and (max-width: 1023px) {

  #navbar_content {
    a:hover {
      color:$white;
      background: $lgray;
    }

    .nav-item {
      margin-left: 10px;
      width: 17vw;  
      max-width: 144px;
      font-size: 15px; 
    }      
  }

  #dropdown_archives {
    width: 18vw;
    font-size: 12px;
  }

  #scroll_to_top {
    position:fixed ;
    bottom: 55px;
    left: -2px;
  }
}

