@import "_Set";


/*Settings Mobile First*/

/*GENERAL*/
article {
  max-width: 500px;
  @include mp-auto;
}

section {
  @include margin(10px,0,0,0);
  @include border3_radius;
}

.card {
  .card-header {
    background: rgb(224, 224, 204);
    line-height: 25px; 
    @include padding(7px,7px,7px,7px);
  }

  .card-footer {
    text-align: center;
  }

  .card-text {
    text-align: justify;
  }
}

/*HOME*/
.accueil section {  
  .card {
    border-radius: $size_10;
  }
  .card-header {
    border-radius: 10px 10px 0 0;
  }
}

.new_year > .card > .card-body > p {
  font-family: 'Gloria Hallelujah';
}

.general_information .adhésion {
  text-decoration: underline;
  color: red;
  font-size: $size_13;
}

/*EVENT*/

/*E-mail Event juillet 2025*/
.event_description .card-text a { 
  text-decoration: none; 
  font-size: $size_10;
}

/*Modal*/
.event_description .modal-content {
  @include size (70%, 450px);
  min-width: 300px;
  @include mp-auto;
  background: lighten(#000000, 80%);

  .modal-body {
    width: 90%;
    @include mp-auto;
  }
  
  .form-group {
   margin-bottom: $size_20;
  }

  .modal-footer {
    background: lighten(#000000, 10%);
  }
}

.event { 
  form > div > label {
    font-weight: bold;
    font-size: $size_10;
  }
  .form-check, ::placeholder {
    font-size: $size_10;
  }
}

/*Table of officials participants*/
.participation {
  background: $green_light;
  text-align: center;
}

#table_participation {
  font-size: $size_10;
  border-color: $gray;

  thead > tr > th {
    @include padding(5px,0,5px,5px);
    font-size: $size_13;
  }

  tbody > tr > th, td {
    @include padding(5px,5px,5px,5px);
    vertical-align: middle;
  }
}

/*progress bar*/
.progress_bar {
  @include padding(10px,5px,0,10px);
  background: $green_light;

  .progress {
    height: $size_15;
    @include margin(0,10px,5px,0);
    font-size: $size_10;
  }
}

/*CLUB*/
  
.statuts_club li {
  background: #d3d3d3a8;
  border: $border_black_2 ;
  @include margin(0,5px,0,0);
  width: 90%;
  max-width: 300px;
 
  p {
    font-size: $size_13;
    @include padding(5px,0,10px,0);

    svg { 
      @include margin(0,0,10px,0);
    }
  }
}
 
/* PICTURES */ 

.pictures {
  .wrapper {
    @include margin(30vw,0,0,0);   
  }
  
  section {
    height: 100%;
    background: none;
  }
  
  p {
    font-size: $size_10 * 3;
    background: white;
    color: $black;
    font-weight: bold;
  }
}

/* ARCHIVES*/

.archives > .wrapper > article {
  text-align: justify;
  
  .card ul {
    @include padding(0,0,10px,0);  
  }
}

/*CONTACT PAGE*/

/*Form*/
.needs-validation {
  background: $yellow_lighten;
  text-align: center; 
  border: $border_black_2;
  @include size(300px, 470px);
  @include mp-auto;

  div {
    @include padding(5px,0,0,0); 
  }
}

.contact_page label {
  font-weight: bold;
  font-style: oblique;
}

#condition_accept {
  font-size: 8px;
}


/*RESPONSIVE*/

@media screen and (min-width: 576px) and (max-width: 1023px) { /* for tablette & landscape */  
/*GENERAL*/
article {
  max-width: 600px;
} 

.card .card-header {
  line-height: $size_10 * 3; 
}


/*HOME*/
.event_article {
  img {
    @include size(40px, 45px);
  }

  .card-header {
    font-size: $size_10 * 3;
  }
}


/*EVENT*/

/*e-mail event juillet 2025*/
.event_description .card-text a { 
  font-size: $size_13;
}

/*Modal*/

.event_description .modal-content  {
  @include size(90%, 570px);
}

.event { 
  form > div > label {
    font-size: $size_13;
  }
  .form-check, ::placeholder { /*Cylindrée de la moto*/
    font-size: $size_13;
  }
}

/*table of officials participants*/
#table_participation {
  font-size: $size_13;

  thead > tr > th {
    font-size: $size_15;
  }
}

/*progress bar*/
.progress_bar > .progress { 
    height: $size_20;
}

/*CONTACT*/
  .needs-validation {
    @include size(400px, 620px);
    
    div {
     @include padding (10px,0,0,0);
    }  
  }

  #condition_accept {
    font-size: $size_13;
  }
}


/* FOR DESKTOP */ 

@media screen and (min-width: 1024px)  { 

/*GENERAL*/
  article {
    max-width: 800px;
  } 

  section .card-body {
    font-size: $size_20;
    @include padding(10px,30px,0,0);
    @include margin(0,0,30px,30px);
    }

  .card .card-header {
    line-height: $size_20 * 3; 
  }  

  .card-footer {
    font-size: $size_20;
  }

/*HOME*/ 

  .accueil section {
    margin: $size_10 * 5;
  }

  .general_information .adhésion {
    font-size: $size_20;
  }

  .event_article {
    img {
      @include size(50px, 55px);
    }

    .card-header {
      font-size: $size_10 * 3;
    }
    .card-body {
      @include padding (15px,10px,0,0); 
    }
  }

   /*EVENT*/

   .event_description .card-text a {
    font-size: $size_15 +2;
  }

  /*Modal*/

  .event_description .modal-content {
    @include size(100%, 600px);
        
    .form-group {
    @include margin(0,30px,0,0);
    }
  }

  .event { 
    form > div > label {
      font-size: $size_15 + 3;
    }
    .form-check,  ::placeholder {
      font-size: $size_13 + 2;
    }
  }

  #table_participation {
    font-size: $size_15;
  
    thead > tr > th {
      font-size: $size_20;
      @include padding (5px,5px,5px,5px);
    }
  
    tbody > tr > th, td {
      @include padding (5px,5px,5px,5px);
    }
  }

  .progress_bar .progress {
      height: $size_20 +10;
      @include margin (0,15px,10px,0);
      font-size: $size_15;
  }

  
  /*CLUB*/
  .statuts_club li {
    max-width: 450px;
  
    p {
      font-size: $size_20;
      @include padding (0,0,20px,0);

    }
  }

  /* PICTURES */ 

  .pictures {
    .wrapper {
      @include margin(100px,0,0,0);
    }
    
    p {
      @include margin(0,0,0,0);
      font-size: $size_10 * 4;    
    }
  }

  /*CONTACT PAGE*/

  /*Form*/
  .needs-validation {
    font-size: $size_20;
    @include size(600px,700px);
    
    ::placeholder {
      font-size: $size_15;
    }

    .form-group {
      padding-top: $size_15;
    }

    #FormControlContactMessage {
      font-size: $size_13;
      height: 85px;
    }
  }

  #condition_accept {
    font-size: $size_15;
  }
}



