@import "_Set";

#logo {
  font-family: 'Pacifico', cursive;
}

#navbar_content li {
  width: 70%;
  @include mp-auto;
  font-family: 'Gloria Hallelujah', cursive;
  box-shadow: 0.3em 0 .6em darken($yellow, 0.5%);
}

#dropdown_archives > li {
  box-shadow: none;
  @include padding (5px,5px,0,0);
}

#button {
  @include backG_Ft_border_color (none,$red,$yellow);
  border-radius: $size_10 ;
}

/* NAVBAR CONTACT PAGE */
#home {
  font-size: $size_20 + 2;
  text-decoration: none;
}

/* RESPONSIVE */

/* only mobile */
@media screen and (max-width: 575px) {  
  .second_banniere, .menu_nav {
    display: none;
  }
}


/* for tablette or landscape min */
@media screen and (min-width: 576px) { 
  .first_banniere,
  #logo, .bi-house-door, .bi-calendar3-event, .bi-bicycle, .bi-images, .bi-archive {
    display: none;
  }
}

 /*for tablette and landscape*/
@media screen and (min-width: 576px) and (max-width: 1023px) {
  .menu_nav {
    display: none;
  }

  #navbar_content {
    a:hover {
      @include backG_Ft_border_color (#000, $yellow, none);
      border-radius: 20px;
    }
  }

  #navbar_content { 
    justify-content: center;
    
    .nav-item {
      border-radius: 20px;
      font-size: $size_15; 
      @include margin(10px,10px,10px,10px);
      min-width: 19vw;
    }   

    #dropdown_archives {
      border-radius: 20px;
      @include margin(10px,10px,0px,0px);
      min-width: 19vw; 
    }   
  
    .dropdown-item {    
      @include padding(10px,10px,0px,0px);
    }
  }
}

  /* FOR DESKTOPS */
  
@media screen and (min-width: 1024px) {
  #Nav {
    display: none; 
  }

  .menu_nav {   /*Sidebar menu*/
    background: $lgray;
    border: $border_black_5;
    @include margin (0,0,10px,5px);
    
    
    .container {
        height: 100%;
        text-align: center;
    }

    .list-unstyled a:hover {
      background: #000;
      color: #ffff00;
      border-color: none;
    }
    
    .nav-item {
      @include padding(40px,20px,20px,20px);  
      line-height: 60px;
      font-size: $size_20 + 5;
    }

    .nav-item a {
      border-radius: 20px;
      @include dark_shadow-txt_w;
    }

    .dropdown-menu {
      text-align: center;
      --bs-dropdown-bg: none;
      border: none; 
      transform: translate3d(20px, 110px, 0px) !important; /*!important afin de forcer le translate en dessous du "li archives" sinon il se positionne automatiquement au dessus.
      la valeur élément du Css est inline et par défault sans possibilité de le modifier*/
      
    }

    #dropdown_menu_archives li {
      border-radius: 20px;
      @include dark_shadow-txt_w;
      @include margin(20px,0,10px,auto);
      font-size: 20px;
      min-width: 15rem;
    }  
  }

  .menu_footer {
    @include margin(150px,0,0,0);

    .col {
      @include padding(0,50px,0,0);
    }
  }
}

@media screen and (min-width: 2000px) {  
  #dropdown_menu_archives a {
    min-width: 25rem;
    text-align: center;
  }

  .menu_footer .row {
    width: 250px;
    @include mp-auto;
  }
}