@import "_Set";

#logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar_content li {
  width: 70%;
  @include mp-auto;
  font-family: 'Gloria Hallelujah', cursive;
  box-shadow: 0.3em 0 .6em darken($yellow, 0.5%);
}

#dropdown_archives > li {
  box-shadow: none;
  @include padding (5px,5px,0,0);
}

#button {
  @include backG_Ft_border_color (none,$red,$yellow);
  border-radius: $size_10 ;
}

/* NAVBAR CONTACT PAGE */
#home {
  font-size: $size_20 + 2;
  text-decoration: none;
}

/* RESPONSIVE */

/* only mobile */
@media screen and (max-width: 575px) {  
  .second_banniere, #sidebar {
    display: none;
  }
}


/* for tablette or landscape min */
@media screen and (min-width: 576px) { 
  .first_banniere,
  #logo, .bi-house-door, .bi-calendar3-event, .bi-bicycle, .bi-images, .bi-archive {
    display: none;
  }
}

 /*for tablette and landscape*/
@media screen and (min-width: 576px) and (max-width: 1023px) {
  #sidebar {
    display: none;
  }

  #navbar_content {
    a:hover {
      @include backG_Ft_border_color (#000, $yellow, none);
    }
  }

  #navbar_content { 
    justify-content: center;
    
    .nav-item {
      font-size: $size_15; 
      @include margin(10px,10px,10px,10px);
      width: 17vw;  
      max-width: 130px;
    }   
    #dropdown_archives {
      width: 17vw;  
      max-width: 130px;
    }   
  }
}

  /* FOR DESKTOPS */
  
@media screen and (min-width: 1024px) {
  #Nav {
    display: none; 
  }

  #sidebar .list-unstyled a:hover {
    @include backG_Ft_border_color (#000, $yellow, none);  
  }

  .menu_nav {
    background: $lgray;
    border: $border_black_5;
    @include margin (0,0,10px,5px);
    
    .container {
        height: 100%;
        text-align: center ;
    }

    .nav-item {
      @include padding(40px,20px,20px,20px);  
      line-height: 60px;
      font-size: $size_20 + 5;
    }

    li > a {
      @include dark_shadow-txt_w;
    } 

    #dropdown_menu_archives {
      @include dark_shadow-txt_w;
      @include margin(10px,0,20px,0);
   
    }  

    #dropdown_menu_archives a {
      font-size: 20px;
      color: $white;
    }
    
  }

  .menu_footer {
    @include margin(80px,0,0,0);

    .col {
      @include padding(0,50px,0,0);
    }
  }
}
