@import "formules.scss";

section {
  margin-top: 10px;
  border: 3px solid #000000;
  border-radius: 10px;

  padding: 5px;
}

/*EVENT*/

/*table of officials participants*/

.participation {
  background: rgb(180, 192, 180);
}

#table_participation {
  font-size: 10px;
  border-color: #5c5a5a;

  
  thead > tr > th {
    padding: 3px;
    font-size: 12px;
  }

  tbody > tr > th, td {
    padding: 5px;
    vertical-align: middle;
  }

  td > .btn > a {
    font-size: 10px;
    text-decoration: none;    
  }
}

/*progress bar*/

.progress_bar {
  padding: 10px;
  background: rgb(180, 192, 180);

  .progress {
    height: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}


/* PICTURES */ 

.pictures {
  
  section {
    background: none;
    border: none;
  }
  
  p {
    font-size: 30px;
    border: 1px solid #000 ;
    color: white;
    font-weight: bold;
    margin-top: 150px;
  }
}

/*CONTACT PAGE*/

/*Form*/
.needs-validation {
  background: lighten(#fff000, 45%);
  text-align: center;
  width: 300px;
  height: 470px;
  margin: auto;
  border: 2px solid black;
  border-style: dotted;

  div {
    padding-top: 5px;
  }
}

.contact_page label {
  font-weight: bold;
  font-style: oblique;
}

#condition_accept {
  font-size: 8px;
  padding-left: 0px;
}


/*RESPONSIVE*/

@media screen and (min-width: 576px) and (max-width: 1023px) { /* for tablette & landscape */ 
  
  section {
    margin-bottom: 1vw;
    margin-right: 5vw;
    margin-left: 5vw;
    width: 515px;
  }

}