@import "_Set";

h1 {
  font-size: 2.7rem;
  font-family: 'Gloria Hallelujah', cursive;
  color: $white;
  @include alignC_weightB;
}

h2 { /*Card-header*/
  font-size: 1.4rem;
  @include alignC_weightB;
}

.event_article h2 {
  color: $orange;
  font-size: $size_20;
}

h3 { /*title statut of club*/
  font-size: 1.3rem;
  color: $sky_blue;
  font-style: oblique;
  @include padding(5px,0,0,0);
  @include alignC_weightB;
}

h5 { 
  font-size: 1.6rem;
  @include alignC_weightB;
}

.card-title { /* h6 */
  box-shadow: -0em 0 .8em $orange;  
  @include alignC_weightB;
  @include backG_Ft_border_color($lgray,black,none);
  @include padding(5px,5px,5px,5px);
  @include margin(20px,20px,auto,auto);
}

/* PAGE EVENT Modal Title H5*/
.event_description .modal-header {
  @include backG_Ft_border_color(lighten(#000000, 10%), $white, none);
  font-family: 'Gloria Hallelujah', cursive;
}

/*RESPONSIVE*/ 

/* for tablette & landscape */ 
@media screen and (min-width: 576px) and (max-width: 1023px) { 
  
  /*GENERAL*/
  h1 {
    font-size: 3.5rem;
  }

  h2 { /*Card-header*/
    font-size: 1.7rem;
  }

  h3 { /*title statut of club*/
    font-size: 1.5rem;
  }

  h5 { /* EVENT PAGE*/
    font-size: 1.4rem;
  }

  h6 { /*Card-title*/
    font-size: 1.1rem;
  }
}

/* FOR DESKTOP */ 
@media screen and (min-width: 1024px)  { 
  
  h1 {
    font-size: 5rem;
    @include margin(-0.8vw,0,0,0);
  }

  h2{
    font-size: 2.7rem;
  }

  #sidebar h2 { 
    font-size: 4.5rem;
    font-family: 'Gloria Hallelujah', cursive;
    @include margin(30px,0,0,0);
    @include padding(0,100px,0,0);
  }

  h3 {
    font-size: 2.6rem;
  }

  h5 {
    font-size: 2.5rem;
    @include padding(0,10px,0,0);
  }

  h6 {
    font-size: 2rem;
  }
}


/*Vérifié*/